:root {
  /* Yess!Go Color Scheme from Moodboard */
  --color-primary-dark: #0F2A1D;
  --color-forest-green: #375534;
  --color-medium-green: #689071;
  --color-light-olive: #AEC380;
  --color-pale-green: #E3EED4;
  
  /* Primary colors */
  --color-primary: #689071;
  --color-primary-dark: #0F2A1D;
  --color-primary-light: #AEC380;
  --color-primary-pale: #E3EED4;
  --color-text-dark: #0F2A1D;
  --color-text-light: #689071;
  
  /* Utility colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-success: #52c41a;
  --color-error: #ff4d4f;
  --color-warning: #faad14;
  --color-info: #1890ff;
}
